.env*
node_modules
build
*.js
__pycache__
test_results
network_info.json
.vscode/launch.json
.vscode/settings.json
yarn-error.log
**/artifacts/*
assets/stake_delegator/artifacts
assets/vesting/artifacts